<!DOCTYPE html>
<html>
<head>
  <title>Humsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300|Playfair+Display:400,900|Josefin+Slab' rel='stylesheet' type='text/css'>
  <meta name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;' /> 
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'header' %>

<%= yield %>

</body>
</html>
